
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
}
/* JS APPLIED */

.pixel{
    
    width: 50px;
    height: 50px;
}

body{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

#title-header{

    color: rgb(158, 75, 158);
    margin-top: 30px;

}


#input-size-container{

    font-size: 32px;

}

input{
    
    border: 1px solid black;
    border-radius: 12px;
    height: 60px;
    width: 60px;
    font-size: 24px;
    text-align: center;
}

button{

    border: 1px solid black;
    border-radius: 8px;
    padding: 8px;
    height: 50px;
    width: 100px;
}

.sketchpad-container{
    
    border: 2px solid black;
    width: fit-content;
    height: fit-content;

}

